.thank-you {
  position: absolute;
  top: 3.56rem;
  left: calc(50% - 347px);
  font-weight: 800;
  display: inline-block;
  width: 43.38rem;
  height: 3.75rem;
}
.request-another {
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 200;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
}
.request-another-wrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs) 1.06rem;
  background-color: var(--color-lightsteelblue);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frame-wrapper,
.group-wrapper {
  position: absolute;
  width: 12.44rem;
  height: 2.88rem;
}
.frame-wrapper {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 0;
  left: 0;
}
.group-wrapper {
  top: 12.19rem;
  left: 15.5rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.your-request-was {
  position: absolute;
  top: 9.44rem;
  left: 2.5rem;
  font-size: var(--font-size-xl);
  font-weight: 800;
  display: inline-block;
  width: 38.44rem;
  height: 2.75rem;
}
.image-2-icon {
  position: absolute;
  top: 0;
  left: calc(50% - 29px);
  width: 3.63rem;
  height: 3.63rem;
  object-fit: cover;
}
.thank-you-parent {
  position: relative;
  width: 43.38rem;
  height: 15.06rem;
}
.sign-out-button-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background: linear-gradient(180deg, #ffa9a9, #f55858);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 8.75rem;
  height: 3rem;
}
.sign-out {
  position: absolute;
  top: 0.69rem;
  left: 1.38rem;
  font-size: var(--font-size-xl);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.06rem;
  height: 1.56rem;
}
.sign-out-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 8.75rem;
  height: 3rem;
}
.thank-you-page {
  position: relative;
  background-color: var(--color-aliceblue);
  width: 100%;
  height: 50.88rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 7.06rem 4.25rem;
  box-sizing: border-box;
  gap: var(--gap-3xs);
  text-align: center;
  font-size: 4.06rem;
  color: var(--color-black);
  font-family: var(--font-inter);
}
