.art-department-items-child {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 6.25rem;
}
.art-department-items-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 14.75rem;
  height: 6.25rem;
}
.image-3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 1.25rem;
  width: 9.56rem;
  height: 5.81rem;
  background-image: url(./public/image-1@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.art-department-items-inner {
  position: absolute;
  top: 6.25rem;
  left: 0;
  width: 11.94rem;
  height: 26.44rem;
}
.group-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #d9d9d9;
  width: 11.94rem;
  height: 4.25rem;
}
.group-item {
  position: absolute;
  top: 0.44rem;
  left: 0.81rem;
  border-radius: var(--br-8xs);
  background-color: var(--color-whitesmoke-100);
  width: 10.31rem;
  height: 3.25rem;
}
.art-department1 {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  font-size: var(--font-size-mini);
  font-weight: 200;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
}
.art-department {
  position: absolute;
  top: 1.5rem;
  left: 1.69rem;
  width: 8.63rem;
  height: 1.13rem;
}
.rectangle-group {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 6.75rem;
  left: 0;
  width: 11.94rem;
  height: 4.25rem;
}
.group-inner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-whitesmoke-100);
  width: 10.31rem;
  height: 3.25rem;
}
.tech-department {
  position: absolute;
  top: 1.06rem;
  left: 0.88rem;
  font-size: var(--font-size-mini);
  font-weight: 200;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  width: 8.63rem;
  height: 1.13rem;
}
.group-button,
.rectangle-container,
.rectangle-parent1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 23.69rem;
  left: 0.81rem;
  width: 10.31rem;
  height: 3.25rem;
}
.group-button,
.rectangle-parent1 {
  top: 19.56rem;
}
.rectangle-parent1 {
  top: 11.31rem;
}
.science-department {
  position: absolute;
  top: 1.06rem;
  left: 0.38rem;
  font-size: var(--font-size-mini);
  font-weight: 200;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  width: 9.63rem;
  height: 1.13rem;
}
.rectangle-parent2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 15.44rem;
  left: 0.81rem;
  width: 10.31rem;
  height: 3.25rem;
}
.group-child3 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 10.69rem;
  height: 2.25rem;
}
.edit-inventory {
  position: absolute;
  top: 0.44rem;
  left: 0.63rem;
  font-size: var(--font-size-xl);
  font-weight: 200;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: flex;
  align-items: center;
  width: 9.44rem;
  height: 1.38rem;
}
.rectangle-parent3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 5.63rem;
  left: 13.06rem;
  width: 10.69rem;
  height: 2.25rem;
}
.sign-out-button-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background: linear-gradient(180deg, #ffa9a9, #f55858);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 8.75rem;
  height: 3rem;
}
.sign-out {
  position: absolute;
  top: 0.69rem;
  left: 1.38rem;
  font-size: var(--font-size-xl);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.06rem;
  height: 1.56rem;
}
.sign-out-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 28.69rem;
  left: 1.63rem;
  width: 8.75rem;
  height: 3rem;
}
.group-child4,
.signed-out-info-child {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.group-child4 {
  position: absolute;
  border-radius: var(--br-11xs);
  background-color: var(--color-gainsboro);
}
.signed-out-info-child {
  background-color: var(--color-aliceblue);
}
.rectangle-icon,
.signed-out-info-child,
.signed-out-info-item {
  position: absolute;
  border-radius: var(--br-11xs);
}
.signed-out-info-item {
  height: 85.37%;
  width: 23.68%;
  top: 7.32%;
  right: 75.91%;
  bottom: 7.32%;
  left: 0.4%;
  background-color: var(--color-whitesmoke-100);
}
.rectangle-icon {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.amount-signed-out {
  position: absolute;
  height: 40%;
  width: 81.3%;
  top: 28.57%;
  left: 9.76%;
  display: flex;
  align-items: center;
}
.vector-group,
.vector-parent {
  position: absolute;
  height: 85.37%;
  width: 24.9%;
  top: 7.32%;
  right: 26.11%;
  bottom: 7.32%;
  left: 48.99%;
}
.vector-group {
  right: 1.21%;
  left: 73.89%;
}
.item,
.total-amount {
  position: absolute;
  display: flex;
  align-items: center;
}
.item {
  height: 34.15%;
  width: 20.24%;
  top: 31.71%;
  left: 1.42%;
}
.total-amount {
  width: 81.3%;
  top: 31.43%;
  left: 9.76%;
}
.vector-container {
  position: absolute;
  height: 85.37%;
  width: 24.9%;
  top: 7.32%;
  right: 51.01%;
  bottom: 7.32%;
  left: 24.09%;
}
.signed-out-info-child1,
.signed-out-info-inner,
.vector-icon {
  position: absolute;
  height: 79.27%;
  width: 0.2%;
  top: 9.76%;
  right: 75.81%;
  bottom: 10.98%;
  left: 23.99%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.signed-out-info-child1,
.vector-icon {
  top: 10.98%;
  right: 50.91%;
  bottom: 9.76%;
  left: 48.89%;
}
.signed-out-info-child1 {
  right: 26.01%;
  left: 73.79%;
}
.signed-out-info {
  position: absolute;
  height: 8.76%;
  width: 93.21%;
  top: 2.35%;
  right: 3.4%;
  bottom: 88.89%;
  left: 3.4%;
}
.div {
  height: 40%;
  width: 81.3%;
  top: 28.57%;
  left: 9.76%;
}
.canvas,
.div,
.div2 {
  position: absolute;
  font-weight: 200;
  display: flex;
  align-items: center;
}
.canvas {
  height: 34.15%;
  width: 20.24%;
  top: 31.71%;
  left: 1.42%;
}
.div2 {
  width: 81.3%;
  top: 31.43%;
  left: 9.76%;
}
.group-div,
.signed-out-info1,
.signed-out-info2 {
  position: absolute;
  height: 8.76%;
  width: 93.21%;
  top: 13.68%;
  right: 3.4%;
  bottom: 77.56%;
  left: 3.4%;
}
.group-div,
.signed-out-info2 {
  top: 25%;
  bottom: 66.24%;
}
.group-div {
  height: 89.48%;
  width: 63.86%;
  top: 27.15%;
  right: 7.71%;
  bottom: -16.63%;
  left: 28.43%;
}
.art-department-items1 {
  position: absolute;
  top: 1.69rem;
  left: 16.31rem;
  font-size: var(--font-size-16xl);
  font-weight: 800;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30.63rem;
  height: 2.88rem;
}
.art-department-items {
  position: relative;
  background-color: var(--color-whitesmoke-100);
  width: 100%;
  height: 32.69rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--color-black);
  font-family: var(--font-inter);
}
